
body{
   text-align:center; 
}
h1{
    text-align:center;
    color:red;
}
ul li {
    color: #292929;
    list-style:circle;
    text-align:left;
    
}
p{
     color:#000000; 
    font: 200 100% Aria, sans-serif;
}
input:nth-last-child(2){
    width: 1%;
}
button{
    width: 20%;
}